{% extends 'base.html' %}
{% load static %}
{% load easy_mask %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Resultado da Pesquisa</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                    {% if clientes %}

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Nome</th>                                    
                                    <th>Email</th>
                                    <th>Celular</th>
                                    <th>Cpf</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    {% for cliente in clientes %}
                                <tr>
                                    <td> <a href="{% url 'vercliente' cliente.id %}"> {{ cliente.nome }}</a></td>
                                    <td>{{ cliente.email }}</td>
                                    <td><a href="https://web.whatsapp.com/send?phone=55{{cliente.celular}}"
                                        target="_blank">{{ cliente.celular | phone }}
                                        </a>
                                    </td>
                                    <td>{{ cliente.cpf | cpf }}</td>
                                </tr>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-md-12">
                                        <h4>Nada Foi Encontrado</h4>
                                    </div>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    
                </div>

            </div>
        </div>
    </div>

                                    
  

</section>
</div>




{% endblock %}