{% extends 'base.html' %}
{% load static %}
{% load easy_mask %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        {% include 'partials/_alert.html' %}
    </div>

    {% if user.is_authenticated %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Agendamentos do Dia - {{ dia_semana| date:'d/m' }} - {{ dias }}</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Horário Inicial</th>
                                <th>Horário Final</th>
                                <th>Cliente</th>
                                <th>Serviço</th>
                                <th>Contato</th>
                                <th>Ação</th>
                            </tr>
                            {%if agendamentos %}
                            {% for agendamento in agendamentos %}
                            <tr>
                                <td>{{ agendamento.horainicial }}</td>
                                <td>{{ agendamento.horafinal }}</td>
                                <td>{{ agendamento.cliente }}</td>
                                <td>{{ agendamento.servico }}</td>
                                <td><a href="https://web.whatsapp.com/send?phone=55{{agendamento.cliente.celular}}"
                                        target="_blank">{{ agendamento.cliente.celular | phone }}
                                    </a>
                                </td>
                                <td><a href="{% url 'editaragenda' agendamento.id %}" data-toggle="modal"
                                        data-target="#modal-editagenda" data-backdrop="static" data-keyboard="false">
                                        <button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>
                                        </button>
                                    </a>
                                    <a href="{% url 'deletaragenda' agendamento.id %}"><button
                                            class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                                    </a>

                                </td>
                                <div class="modal fade" id="modal-editagenda" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title">Editar Agendamento</h4>
                                            </div>
                                            <form action="{% url 'update_agenda' %}" method="post"
                                                enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <input type="hidden" name="agendamento_id"
                                                        value="{{agendamento.id}}">

                                                    <div class="form-group col-md-4">
                                                        <label for="servico">Serviço</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-gear"></i></span>

                                                            <select name="servico" class="form-control form-control-sm"
                                                                id="servico">
                                                                <option value="{{servico.id}}">{{agendamento.servico}}
                                                                </option>
                                                                {% for servico in servicos %}
                                                                <option value="{{servico.id}}">{{servico.servico}}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="data">Data</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-calendar"></i></span>
                                                            <input type="date" name="data"
                                                                class="form-control form-control-sm" id="data"
                                                                value="{{agendamento.data}}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="horario">Horário Inicial</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-clock-o"></i></span>
                                                            <input type="time" class="form-control form-control-sm"
                                                                name="horainicial" id="horainicial"
                                                                value="{{agendamento.horainicial}}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="horario">Horário Final</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-clock-o"></i></span>
                                                            <input type="time" class="form-control form-control-sm"
                                                                name="horafinal" id="horafinal"
                                                                value="{{agendamento.horafinal}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="cliente">Cliente</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-user"></i></span>
                                                            <select name="cliente" class="form-control form-control-sm"
                                                                id="cliente">
                                                                <option value="{{agendamento.cliente}}">{{
                                                                    agendamento.cliente }}</option>
                                                                {% for cliente in clientes %}
                                                                <option value="{{cliente.nome}}">{{ cliente.nome }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>

                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        <label for="tipo">Tipo</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-user"></i></span>
                                                            <select name="modelo" class="form-control form-control-sm"
                                                                id="modelo">
                                                                <option value="{{agendamento.modelo}}">
                                                                    {{agendamento.modelo}}</option>
                                                                {% for modelo in modelos %}
                                                                <option value="{{modelo.modelo}}">{{modelo.modelo}}
                                                                </option>
                                                                {% endfor %}

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        <label for="pagamento">Forma de Pagamento</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-credit-card"></i></span>
                                                            <select name="pagamento"
                                                                class="form-control form-control-sm" id="pagamento">
                                                                <option value="{{agendamento.pagamento}}">
                                                                    {{agendamento.pagamento}}</option>
                                                                {% for pagamento in pagamentos %}
                                                                <option value="{{pagamento.pagamento}}">
                                                                    {{pagamento.pagamento}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr>
                                                <br>
                                                <div class="box-footer">

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-info btn-xs">Atualizar</button>
                                                    <button type="button" class="btn btn-danger btn-xs"
                                                        data-dismiss="modal"
                                                        onclick="javascript:window.location.reload()">Fechar</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <td>Sem Agendamentos Para este Dia Ate o Momento</td>
                                {% endif %}
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    {% else %}
    <a href="{% url 'login' %}">Fazer Login
        {% endif %}
</section>

</div>



{% endblock %}